<html lang="en">

   <%- include header %>

<body>
    <section class="static about-sec">
        <div class="text" >
            <h1 style="color: #F57A24; text-align: center">Check My Books</h1>
                <p style="text-align: center"><i>This is a website intended for students who wish to purchase and sell second-hand books from their seniors studying in the same college but could not due to lack of information regarding buy which books from whom and the actual pricing of the book and also for the seniors who sell their books to determine the actual price of the book by comparing with other sellers.</i></p><br>
                <p style="text-align: center"><i>Worry not! Because CheckMyBooks is here to answer all your literary prayers. Knowledge is priceless but the books come with a bill and the CheckMyBooks Team is committed to bringing to you the best of the brilliant from the world of written text, at prices which are literally a steal.</i></p><br>
                    <p style="text-align: center"><i>Our main motto is to cut out those third-party vendors between the buyers and the sellers who earn a commission during the whole transaction process. Rest assure, CheckMyBooks team has created this platform for the buyers and sellers so that they can do transactions easily without any third-party vendor coming in between. As we strongly believe that books should not be a medium to do third-party business.</i></p>
            </div>
        </div>
    </section>
    </body>
    <%- include footer %>