<html lang="en">

   <%- include header %>

<body>
    <section class="static about-sec">
            <h1 style="color: #F57A24; text-align: center">Privacy Policy</h1>
            <div class="text">
             <p style="text-align: center"> <i>Your privacy and security online is very important to us, so we have written this policy to explain how we 
                                use the information we collect about you; how you can instruct us if you wish to limit the use of that information; 
                                our gathering techniques; and the procedures we have in place to safeguard your privacy.

                                    This is the privacy policy for all websites owned and made available by CheckMyBooks, including, without limitation,
                                    the website currently located at www.checkmybooks.com (the “Site”). Please carefully review this Policy to learn about how
                                    we collect, use, and protect any Personal Information (defined below) and Non-Personal Information (defined below) 
                                    you provide us on or through the Site and your choices for managing your Personal Information. By using the Site, 
                                    you signify your assent to this Policy<br>
                                    
                                    <b>Personal Information Collected </b><br>- We recognize the need for consumers to control the use and management of personal information. By personal information we mean information that can be used to identify or contact an individual. This includes a first and last name, a physical address, an email address, a phone number, and your credit card information. We may transfer that information within the CheckMyBooks to employees, to the extent necessary to provide the requested products to you. We do not sell or trade your personal information to unrelated third parties and we do not utilize email marketing.

Automatic Information Collected - Please note that the CheckMyBooks uses various technologies to collect information about types and versions of internet browsers used when accessing our web servers. This information, and information about internet IP addresses, as well as dates and times web pages are visited are stored in various security and traffic logs. We may review these logs, using statistical analysis, in an effort to track and predict traffic patterns and estimate resource needs. Unless we have been asked to identify technical problems or we suspect either fraudulent behavior or illegal conduct we do not trace specific user sessions.
<br>
<b>Supplemental Technologies</b><br> - CheckMyBooks web servers may use cookies, session identifiers, JavaScriptTM and browser detection technology to provide consumers with a more pleasant online experience. Many browsers provide consumers with the ability to disable some or all of these technologies. Disabling these technologies, especially in the case of JavaScriptTM may prevent you from using some web pages
<br>

<b>Security and Confidentiality</b><br> - CheckMyBooks takes reasonable steps to ensure that your Personal Information is protected. We use industry standard Secure Sockets Layer (SSL) encryption when collecting and transferring your data. Internally, we limit access to Personal Information to those employees who we believe have reasonable need to use the information to provide products to you, or to perform their jobs.
<br>
<b>Third Parties</b><br> - We partner with other third parties to provide various services and products. It is against CheckMyBooks policy to sell or trade Personal Information collected online. If legally compelled to release Personal Information to a third party, CheckMyBooks may or may not notify customers of such release. Notification will be at the discretion of CheckMyBooks and will be based on the nature and conditions surrounding the release of Personal Information.
<br>
<b>Notifications</b><br> - When CheckMyBooks performs a consumer notification, it will be sent to the email address associated with your account. CheckMyBooks will send the email but we cannot guarantee delivery. You are responsible for providing a valid email address and for updating it as your address changes. CheckMyBooks may, depending on the importance and urgency of the notification, choose to contact you via telephone or postal mail. When doing so we will use the phone number and/or address associated with your account or transactions.
<br>
<b>Modifications</b><br> - Periodically CheckMyBooks will make changes to this privacy policy. CheckMyBooks does not make any effort to notify customers of privacy policy changes. You may view the current policy by returning to this web site.
<br>
<b>Consent</b><br> - By using CheckMyBooks web site, you consent to the terms of our Privacy Policy. If you do not agree to the terms of this policy, please stop using CheckMyBooks web site immediately.
<br>
<b>Contact</b><br> - If you have any questions about this policy or would like additional information, you may email us at Privacy Issues or by postal mail at:
</i><b><br>CheckMyBooks<BR>
Attn: Privacy Issues<BR>
 Banglore	</b>		 
            </div>

    </section>
</body>

<%- include footer %>