<html lang="en">

   <%- include header %>

   <body>

    <section class="static about-sec">
        <!-- <div class="container"> -->
            <div class="text">
            <h1 style="color: #F57A24; text-align: center">Terms and conditions</h1>
                    <p style="text-align: center"><i> Please Read All users of this site agree that access to and use of this site <br>are subject to the following
                                          terms and conditions and other applicable law. <br>
                                          <b>Limitation of Liability<br></b>
                                          The CheckMyBooks  shall not be liable for any special or consequential damages that result from the use of, 
                                          or the inability to use, the materials on this site or the performance of the products, even if the CheckMyBook 
                                          has been advised of the possibility of such damages.
                                          Applicable law may not allow the limitation of exclusion of liability or incidental or consequential damages,
                                          so the above limitation or exclusion may not apply to you.<br>
                                          <b>Warranty Disclaimer <br></b>
                                          This site and the materials and products on this site are provided "as is" and without warranties of any kind, 
                                          whether express or implied. To the fullest extent permissible pursuant to applicable law, the CheckMYBooks 
                                          disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability 
                                          and fitness for a particular purpose and non-infringement.<br>
                                          <b>Notice<br></b>
                                          The CheckMyBooks may deliver notice to you by means of e-mail, a general notice on the site,
                                          or by other reliable method to the address you have provided to the CheckMyBooks.<br>
                                          <b>.Termination</b><br>
                                          These terms and conditions are applicable to you upon your accessing the site and/or completing the registration or
                                          shopping process. These terms and conditions, or any part of them, may be terminated by the CheckMyBooks without
                                          notice at any time, for any reason. The provisions relating to Copyrights, Trademark, Disclaimer,
                                          Limitation of Liability, Indemnification and Miscellaneous, shall survive any termination.
                </div>
    
    </section></i>
    
</body>

<%- include footer %>